<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/styles.css'>
    <title>To Do List</title>
</head>
<body>
    <div class='container'>
        <h1>{{ category.getName }}</h1>

        <h4>Add a category to this task!</h4>

        <form action='/add_categories' method='post'>
            <input id="task_id" name="task_id" type="hidden" value="{{ task.getId }}">
            <label for="category_id">Select a category</label>
            <select id='category_id' name='category_id' type='text'>
              {% for category in all_categories %}
                <option value="{{ category.getId }}"> {{ category.getName }} </option>
              {% endfor %}
            </select>
            <button type='submit'>Add category</button>
        </form>

        {% if categories is not empty %}
            <h3>Here are the categories for this task:</h3>
            <ul>
                {% for category in categories %}
                    <li>{{ category.getName }} {{ category.getDue }}</li>
                    <!-- <li>{{ task.getDue }}</li> -->
                {% endfor %}
            </ul>
        {% endif %}

        <form action='/delete_tasks' method='post'>
        <button class='btn-danger' type='submit'>DELETE</button>
        </form>

        <p><a href="/categories/{{ category.getId }}/edit">Edit this category</a></p>

        <p><a href='/'>Home</a></p>
    </div>
</body>
</html>
